
.section {
    min-height: 25vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

.inicio {
    background-size: cover;
    color: rgb(255, 255, 255);
}

.boldText {
    font-weight: bold;
}

.contagemRegressiva {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.backgroundImage {
    background-image: url('../images/IMG_6915.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.componentSpacing {
    padding-top: 3rem; /* Ajuste o valor conforme necessário */
}

.casalSection {
    background-color: rgb(245, 231, 202);
    color: rgb(87, 85, 85)
}

.casalTexto {
    width: 50%;
    margin: 0 auto;
    padding: 5rem;
}